<a href="https://colab.research.google.com/github/SivaRamAditya/Aditya/blob/master/Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import the required python packages.
import numpy as np
import pandas as pd

In [56]:
#import data set using pandas
chipotle_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep = '\t')
#Rename column name as in proper format using comprehension
def capitalize(col):
  columns = [' '.join([x.capitalize() for x in val]) for val in col.split(' ')]

  print(columns)
  return col.title()

chipotle_df.columns = capitalize(chipotle_df.columns.str.replace('_', ' ').str)
chipotle_df.head()

['Order Id', 'Quantity', 'Item Name', 'Choice Description', 'Item Price']

   Order Id  ...  Item Price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]